  GNU nano 4.8                                                                                /etc/systemd/system/backend.service
[Unit]
Description=Backend service
After=network.target

[Service]
User=backend
Group=backend
StandardOutput=append:/opt/log/sausage-store-backend.log
Restart=always
WorkingDirectory=/var/sausage-store/
Environment=LOG_PATH=/var/sausage-store/
Environment=REPORT_PATH=/var/sausage-store/reports/

# подставьте значения переменных
Environment=PSQL_USER="std-030-13"
Environment=PSQL_PASSWORD="Testusr1234"
Environment=PSQL_HOST="rc1a-kylrrnh13yjqhvlv.mdb.yandexcloud.net"
Environment=PSQL_DBNAME="std-030-13"
Environment=PSQL_PORT="6432"

# Параметры подключения к БД можно указать с помощью переменных окружения SPRING
Environment=SPRING_DATASOURCE_URL="jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME}?ssl=true"
Environment=SPRING_DATASOURCE_USERNAME="${PSQL_USER}"
Environment=SPRING_DATASOURCE_PASSWORD="${PSQL_PASSWORD}"


#Параметры для подключения MongoDB
Environment=MONGO_USER="std-030-13"
Environment=MONGO_PASSWORD="Testusr123"
Environment=MONGO_HOST="rs01/rc1a-3nb7p7jsmbup6crt.mdb.yandexcloud.net:27018"
Environment=MONGO_DATABASE="std-030-13"

Environment=SPRING_DATA_MONGODB_URI="mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:27018/${MONGO_DATABASE}?tls=true"

ExecStart=/usr/lib/jvm/java-16-openjdk-amd64/bin/java -jar /opt/sausage-store/bin/sausage-store.jar -Djavax.net.ssl.trustStore=/var/sausage-store/YATrustStore
-Djavax.net.ssl.trustStorePassword=superpass

[Install]
WantedBy=multi-user.target
